body,td,th,p {
      font-family: Courier New, Courier, mono;
      font-size: large;
      color: white;}
      body {background-image: url("docs/img/giphy.gif");}
      span {background-image: url("docs/img/giphy4.gif") ;}
      a:link {color: white;}
      a:visited {color: white;}
      a:hover {color: white;}
      a:active {color: white;}
      .Estilo1 {font-size: small}