@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?4d8d75e174723e4f81277c5334179398") format("truetype"),
    url("./flaticon.woff?4d8d75e174723e4f81277c5334179398") format("woff"),
    url("./flaticon.woff2?4d8d75e174723e4f81277c5334179398") format("woff2"),
    url("./flaticon.eot?4d8d75e174723e4f81277c5334179398#iefix") format("embedded-opentype"),
    url("./flaticon.svg?4d8d75e174723e4f81277c5334179398#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flaticon-email:before {
    content: "\f101";
    color:white;
}
.flaticon-gorjeo:before {
    content: "\f102";
    color:white;
}
.flaticon-instagram:before {
    content: "\f103";
    color:white;
}
.flaticon-telegrama:before {
    content: "\f104";
    color:white;
}

