$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?4d8d75e174723e4f81277c5334179398") format("truetype"),
url("./flaticon.woff?4d8d75e174723e4f81277c5334179398") format("woff"),
url("./flaticon.woff2?4d8d75e174723e4f81277c5334179398") format("woff2"),
url("./flaticon.eot?4d8d75e174723e4f81277c5334179398#iefix") format("embedded-opentype"),
url("./flaticon.svg?4d8d75e174723e4f81277c5334179398#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "email": "\f101",
    "gorjeo": "\f102",
    "instagram": "\f103",
    "telegrama": "\f104",
);

.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-gorjeo:before {
    content: map-get($flaticon-map, "gorjeo");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-telegrama:before {
    content: map-get($flaticon-map, "telegrama");
}
