@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
body,td,th,tr,td{
      font-family: 'Fira Mono', monospace;
      font-size: 20px;
      color: white;}
      a:link {color: white; font-size: 3vmin; line-height: 110%; max-width: 90%; left: 30%;}
      a:visited {color: white; font-size: 3vmin; line-height: 110%; max-width: 90%; left: 30%;}
      a:hover {color: rgb(255, 0, 0); animation: pulse .06s 0.02s infinite steps(13, end); font-size: 5.9vmin; max-width: 90%; left: 30%; line-height: 110%;}
      a:active {color: white; animation: backwards .02s 0.02s infinite steps(13, end); font-size: 4.5vmin; max-width: 90%; left: 30%; line-height: 110%;}
      .Estilo1 {font-size: small}
      .Estilo2 {background-image: url(https://media0.giphy.com/media/KcnbWfsuFr7JpgowGT/giphy.gif?cid=ecf05e47zzd724rukdgblgrd77zi45lcs2mk4mqib69sqvrk&rid=giphy.gif&ct=g); background-size: cover; font-size: small}
      .Titulos1 {color: white; font-family: 'Fira Mono', monospace; font-size: 22px; background-image: url(https://media0.giphy.com/media/KcnbWfsuFr7JpgowGT/giphy.gif?cid=ecf05e47zzd724rukdgblgrd77zi45lcs2mk4mqib69sqvrk&rid=giphy.gif&ct=g); background-size: cover; }
      
      #container {width:100%;}
      span#namezzz{float:left; background:white;}
      #generated {display:block; margin:0 auto; text-align:center; font-size:15px; width:100%; color:white; background-image: url(https://media0.giphy.com/media/KcnbWfsuFr7JpgowGT/giphy.gif?cid=ecf05e47zzd724rukdgblgrd77zi45lcs2mk4mqib69sqvrk&rid=giphy.gif&ct=g); background-size: cover; margin-top:200px; position:static;}
      button {font-family: 'Fira Mono', monospace; display:block; position:static; margin:50px auto 50px auto; padding:10px 25px; font-size:20px; background:white; border:none;}
      button:hover {font-family: 'Fira Mono', monospace; background: rgb(255, 0, 0);}
      button:focus {outline:none;}