@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
        body {
            /* azul: rgb (67, 159, 208) */
            /* verde: rgb (159, 208, 67) */
            /* rosa rgb (208, 67, 159) */
            font-family: 'Oswald', sans-serif;
            font-size:xx-large;
            color:white;
            text-align: center;
        }
        a:link,a:visited,a:hover,a:active  {
            text-decoration: none;
        }