body,td,th,tr,td{
      font-family: 'Source Code Pro', monospace;
      font-size: 20px;
      color: white;}
      a:link {color: white;}
      a:visited {color: white;}
      a:hover {color: white;}
      a:active {color: white;}
      .Estilo1 {font-size: small}
      