@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
body,td,th,tr,td{
      font-family: 'Fira Mono', monospace;
      font-size: 100%;
      color: white;
      text-align: center;}
      
      a:link {
            color: white;
            font-size: 100%;
            line-height: 110%;
            max-width: 90%;
            left: 30%;}

      a:visited {
            color: white;
            font-size: 100%;
            line-height: 110%;
            max-width: 90%;
            left: 30%;}

      a:hover {
            color: white; 
            animation: pulse .06s 0.02s infinite steps(13, end);
            font-size: 5.9vmin; 
            max-width: 90%;
            left: 30%;
            line-height: 110%;}

      a:active {
            color: white;
            animation: backwards .02s 0.02s infinite steps(13, end);
            font-size: 4.5vmin;
            max-width: 90%;
            left: 30%;
            line-height: 110%;}

      .Estilo2 {
            font-size: 80%;}

      .Titulos1 {
            color: white;
            font-family: 'Fira Mono', monospace;
            font-size: 115%;
            background-image:url(https://64.media.tumblr.com/tumblr_lxtwdhWV1M1r6j7rho1_1280.gif);}
      
      #container {
            width: 100%;}

      span#namezzz{
            float:left;
            color:white;}
      
      #generated {
            display:block;
            margin:0 auto;
            text-align:center;
            font-size: 100%; width: 100%;
            color:white;
            margin-top: 200px;
            margin-bottom: 200px;
            position:static;}

      button {
            font-family: 'Fira Mono', monospace;
            display: block; position:static;
            margin: 50px auto 50px auto;
            padding: 10px 25px;
            font-size: 20px;
            background:white;
            border:none;}

      button:hover {
            font-family: 'Fira Mono', monospace;
            background: #288dd1}

      button:focus {
            outline:none;}