@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body,td,th,tr,td{
      font-family: 'Fira Mono', monospace;
      font-size: 100%;
      color:white;
      text-align: center;}
      
      a:link {
            color: white;
            font-size: 100%;
            line-height: 110%;
            max-width: 90%;
            left: 30%;}

      a:visited {
            color: white;
            font-size: 100%;
            line-height: 110%;
            max-width: 90%;
            left: 30%;}

      a:hover {
            color: white;
            animation: pulse .06s 0.02s infinite steps(13, end);
            font-size: 5.9vmin; 
            max-width: 90%;
            left: 30%;
            line-height: 110%;}

      a:active {
            color: white;
            animation: backwards .02s 0.02s infinite steps(13, end);
            font-size: 4.5vmin;
            max-width: 90%;
            left: 30%;
            line-height: 110%;}

      .Estilo2 {
            font-size: 80%;}

      .Titulos1 {
            font-size: 115%;
            /* background-color: rgb(234, 102, 31); */
            /* background-size: cover; */}
      
      #container {
            width: 100%;}

      span#namezzz {
            float:left;
            color:white;}
      
      #generated {
            display:block;
            margin:0 auto;
            text-align:center;
            font-size: 100%; width: 100%;
            color:white;
            margin-top: 200px;
            margin-bottom: 200px;
            position:static;
            /* background-color: rgb(255, 51, 184);} */
            background-image: url("https://media1.giphy.com/media/xTiTnBDM8bHWQHCOxW/giphy.gif?cid=ecf05e47lbdbghp81q3jsiw5yluqj1saazkt5ctgl4xxmgpt&rid=giphy.gif");
            background-position: center;
            background-size: cover;}

      button {
            font-family: 'Fira Mono', monospace;
            display: block; position:static;
            margin: 50px auto 50px auto;
            padding: 10px 25px;
            font-size: 20px;
            background: white;
            border:none;}

      button:hover {
            font-family: 'Fira Mono', monospace;
            background-color: rgb(236, 236, 236);}

      button:focus {
            outline:none;}